@model strataGEM.Models.Review
@using Microsoft.AspNet.Identity
@using strataGEM.Models

@if (Request.IsAuthenticated)
{
    string userId = User.Identity.GetUserId();
    if ((bool)(Clases.BD.YaReview(userId, (int)ViewData["I"]) == false))
    {
<div class="container body-content">
    <div class="contact-form">
        <div class="col-md-10">
            @using (Html.BeginForm("Crear", "Review", new { id = (int)ViewData["I"] }))
                    {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                <h4>Crear Review para @ViewData["N"] </h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">

                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Review_Rating, new { htmlAttributes = new { @type = "textarea", placeholder = "Puntaje" } })
                        @Html.ValidationMessageFor(model => model.Review_Rating, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">

                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Review_Description, new { htmlAttributes = new { @type = "textarea", placeholder = "Descripción" } })
                        @Html.ValidationMessageFor(model => model.Review_Description, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            @Html.HiddenFor(model => model.Review_IdUser)
            @Html.HiddenFor(model => model.Review_IdGame)
            @Html.HiddenFor(model => model.Review_UserName)
            <button class="site-btn" style="margin-top: 15px; margin-bottom: 20px">
                Iniciar Sesion
                <img src="/Assets/img/icons/double-arrow.png" alt="#">
            </button>
                    }
        </div>
    </div>
</div>
    }
    else
    {
<div class="container body-content">
    <h3>Acceso Denegado: Ya hizo una Review en este juego</h3>

    <div class="blog-text text-box text-white" style="padding-top: 25px; padding-bottom: 20px">
        <a href=@Url.Action("IndexRev", new { id = (int)ViewData["I"]})> Volver a la lista <img src="~/Assets/img/icons/double-arrow.png" alt="#" /></a>
    </div>
    <div style="margin-bottom: 400px">
    </div>
</div>
    }
}
else
{
<div class="container body-content">
    <h3>Acceso Denegado: Debe estar logueado para realizar esta accion</h3>

    <div class="blog-text text-box text-white" style="padding-top: 25px; padding-bottom: 20px">
        <a href=@Url.Action("IndexRev", new { id = (int)ViewData["I"]})> Volver a la lista <img src="~/Assets/img/icons/double-arrow.png" alt="#" /></a>
    </div>
    <div style="margin-bottom: 400px">
    </div>
</div>
}