@model strataGEM.Models.Review

@{

}

<div class="container body-content">
    <div class="contact-form">
        <div class="col-md-10">
            @using (Html.BeginForm("Create", "Review", new { id = ViewBag.Juego.Game_Id }))
            {
                @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Crear Review para @ViewBag.Juego.Game_Name </h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">

                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Review_Rating, new { htmlAttributes = new { @type = "textarea", placeholder = "Puntaje" } })
                        @Html.ValidationMessageFor(model => model.Review_Rating, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">

                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Review_Description, new { htmlAttributes = new { @type = "textarea", placeholder = "Descripción" } })
                        @Html.ValidationMessageFor(model => model.Review_Description, "", new { @class = "text-danger" })


                    </div>
                </div>
                <a href="@Url.Action("IndexRev", "Review", new { id = ViewBag.Juego.Game_Id})" class="site-btn"> Publicar  <img src="~/Assets/img/icons/double-arrow.png" alt="#" /></a>
            </div>
            }

            <div>
            </div>
        </div>
    </div>
</div>