@using strataGEM.Models;
@{
    ViewBag.Title = "Prueba";
}
<div class="container body-content">

    <h2>Prueba</h2>
    <a href="@Html.ActionLink("CrearReview", "Review")">Crear</a>
    @foreach (Clases.Review a in Model)
    {
        <div class="ReviewGame">
            <div class="TitleRev"><h2><font color="white">@a.Review_Description</font></h2></div>
            <h3>@a.Review_UserName @a.Review_Likes</h3>
            @Html.Partial("_PerUser", new ViewDataDictionary { { "n", a.Review_IdUser }, { "f", a.Review_Id } })
        </div>
    }
</div>